html {
    font-family: Helvetica , sans-serif;
    font-size: 14px;
    letter-spacing: 1;
    line-height: 1.5;
    scroll-behavior: smooth;
    color: #666666;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

p{
    font-size: 12px;
}

.container {
    margin: 0 auto;
    padding: 0 7%;
}

.group::before,
.group::after {
    content: "";
    display: table;
}

.group::after {
    clear: both;
}

.group {
    zoom: 1;
}

.home {
    background-image: url(../images/banner.jpg), linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-blend-mode: hue;
    color: #FFF;
}

.header-wrapper {
    width: 100%;
    height: auto;
    padding: 25px 0 0 0;
}

.logo-container {
    width: 45%;
    float: left;
}

.logo-container img {
    max-width: 65px;
    height: 65px;
}

.navigation-container {
    width: 55%;
    float: left;
    margin-bottom: 0;
}

.navigation-container ul {
    width: 100%;
}

.navigation-container li {
    list-style: none;
    float: left;
}

.navigation-container a {
    color: #FFF;
    margin: 20px 0 0 0;
    padding: 0 20px 0 20px;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.navigation-container a:hover {
    color: #ff6d00;
}

.menu-btn{
    display: none;
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
}

.menu-btn span{
    display: block;
    margin: 0 0 5px 0;
    width: 30px;
    height: 5px;
    background-color: #FFF;
}

.description {
    width: 100%;
    margin: 10% 5% 0 5%;
}

.main-description {
    width: 50%;
    float: left;
    /* letter-spacing: 1.5; */
}

.main-description h1 {
    font-size: 270%;
    /* letter-spacing: 2.5; */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.main-description p {
    font-weight: 300;
    margin: 2% 15% 0 0;
    text-align: justify;
}

.description-footer {
    width: 100%;
    margin: 10% 5% 0 5%;
}

.apply-btn {
    width: 40%;
    float: left;
}

.apply-btn button {
    padding: 14px 27px;
    border-radius: 5px;
    color: #FFF;
    background-color: #45818e;
    border: none;
    outline: none;
    font-weight: 600;
    letter-spacing: 1;
    font-size: 105%;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
}

.side-description{
    width: 60%;
    float: left;
}

.section {
    width: 100%;
    padding: 5% 0 0 0;
}

.links-container {
    width: 15%;
    float: left;
    margin: 0 5% 0 7%;
    box-sizing: border-box;
    position: sticky;
    top: 15%;
    /* bottom: 15%; */
    margin-bottom: 7%;
}

.links-container ul {
    width: 100%;
    height: auto;
    background-color: #000;
    border: .1px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
    padding: 10px 0;
}

.links-container li {
    list-style: none;
}

.links-container a {
    width: 90%;
    margin: 10% 5%;
    display: block;
    padding: 5%;
    box-sizing: border-box;
    font-size: 90%;
    letter-spacing: 1.2;
    position: relative;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
}

.links-container a:hover,
.links-container a:active{
    color: #ff6d00;
    border-radius: 4px;
    font-weight: 700;
    background-color: #fff;
}

.links-container a:hover::before,
.links-container a:active::before{
    content: "";
    height: 100%;
    border-right: 3px solid #ff6d00;
    position: absolute;
    top: 0;
    left: -7%;
}

.section-content {
    /* text-align: justify; */
    margin: -5% 0 0 -7%;
}

.main-content {
    padding: 5% 0 5% 27%;
    box-sizing: border-box;
}

.section-title {
    padding: 0 0 2% 0;
    font-weight: 700;
    color: #000;
    /* text-transform: uppercase; */
}

.section-heading h1 {
    margin: 0 0 2% 0;
    text-align: center;
    color: rgb(51,51,51);
}

.features {
    width: 100%;
    margin: 4% 0 0 0;
    margin-right: -18%;
}

.feature-container {
    width: 50%;
    float: left;
    height: 170px;
    padding-right: 18%;
    box-sizing: border-box;
}

.feature-img {
    width: 18%;
    float: left;
    padding-right: 5%;
    box-sizing: border-box;
}

.feature-img img {
    max-width: 100%;
}

.feature-description {
    width: 82%;
    float: left;
}

.feature-description h4 {
    margin: 0 0 2% 0;
    color: #000;
}

.section-dark {
    background-color: rgba(229, 229, 229, 1);
    width: 100%;
    color: #000;
}

.curriculum-header {
    width: 25%;
    margin: 5% 40% 0 25%;
}

.curriculum-header h2 {
    text-align: center;
    display: block;
    padding: 5% 12.5%;
    box-sizing: border-box;
    text-transform: uppercase;
    border: 2px solid #000;
}

.module-desc {
    width: 75%;
    float: left;
    padding: 3% 5% 0 0;
    text-align: justify;
    box-sizing: border-box;
}

.module-desc h5 {
    width: 15%;
    float: left;
    padding: 0 2% 0 0;
    box-sizing: border-box;
}

.module-desc p {
    width: 83%;
    float: left;
}

.modules-img {
    width: 25%;
    float: left;
    padding: 3% 0 0 0;
    box-sizing: border-box;
}

.modules-img img {
    max-width: 50%;
    height: 70px;
}

.img-icon{
    padding: 5% 0 0 7%;
    box-sizing: border-box;
}

.img-container{
    width: 20%;
    float: left;
    /* padding: 5% 0 0 0; */
    /* box-sizing: border-box; */
    /* height: 100px; */
    /* display: block; */
}

.img-block{
    width: 50%;
    float: left; 
}

.img-block img{
    padding: 20px;
    /* height: 100px; */
    box-sizing: border-box;
    background-color: #000;
    border-radius: 50%; 
    /* vertical-align: middle; */
}

.img-block h4{
    text-align: center;
    margin-top: 15px;
    font-weight: 200;
}

.arrow{
    width: 50%;
    float: left;
    line-height: 100px;
    height: 100px;
    text-align: center;
    /* margin: 0 auto; */
    /* padding: 35px 35px; */
    /* box-sizing: border-box; */
    color: #666666;
}

/* .img-circle{
    padding: 5px;
    box-sizing: border-box;
    background-color: #000;
} */

.base-img {
    width: 100%;
}

.base-img img {
    max-width: 100%;
    height: auto;
    display:block;
}

.admission-process {
    text-align: center;
}

.admission-process p {
    display:inline-block;
    margin:auto;
    width: 50%;
}

.apply pre,button {
    display: inline-block;
}

.button {
    background-color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border: solid rgb(202, 202, 202);
    border-width: thin;
    border-radius: 5px;
    cursor: pointer;
}

.questions{
    width: 100%;
    margin: 2% 0 5% 0;
}

.footer{
    width: 100%;
    background-color: #242424;
}

.footer-title{
    /* width: 100%; */
    padding: 5% 0;
    /* margin: 0 40%; */
    /* display: block; */
}

/* .footer-img{
    width: 50%;
    float: right;
} */

/* .footer-img img{
    max-width: 40px;
    display: inline-block;
    float: right; 
} */

.footer-title h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    /* display: inline-block; */
    /* float: left; */
}

.social{
    /* width: 100%; */
    background-color: #000;
    padding: 1% 0;
}

.footer-subtitle{
    width: 80%;
    float: left;
}

.social-media-pages{
    width: 20%;
    float: left;
}

.social-media-pages li{
    width: 33.3%;
    float: left;
    list-style: none;
}

.social-media-pages img{
    max-width: 20px;
}

@media screen and (max-width: 1024px){
    html {
        font-size: 12px;
    }

    .logo-container img {
        max-width: 40px;
        height: 40px;
    }

    nav {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .module-desc h5 {
        width: 15%;
    }

    .module-desc p {
        width: 70%;
    }

    .modules-img {
        width: 20%;
        float: left;
        margin: 3% 0 0 0;
    }

    .modules-img img {
        max-width: 100%;
        height: 60px;
    }
}
@media screen and (max-width: 768px){

    .site-wrapper {
        overflow-x: hidden;
    }
    
    .container {
        padding: 0 80px;
        margin: 0;
    }

    .main-description {
        width: 100%;
        float: none;
    }

    .description-footer {
        width: 100%;
        padding: 0 0 7% 0;
        margin: 7% 0 0 0;
    }

    .description-footer p {
        text-align: center;
    }

    .apply-btn {
        width: 100%;
        float: none;
    }

    .apply-btn button {
        margin: 0 auto;
        display: block;
    }
    
    .links-container ul {
        display: none;
    }

    .section-content {
        width: 100%;
        float: none;
        margin: 0;
    }
    
    .main-content {
        width: 100%;
        padding: 5% 0 5% 0;
    }

    .module-desc h5 {
        width: 20%;
    }

    .module-desc p {
        width: 80%;
    }

    .curriculum-header {
        width: 60%;
        float: none;
        margin: 5% 20% 0 20%;
    }
    .curriculum-header h2 {
        padding: 2% 10%;
    }
}
@media screen and (max-width: 425px){

    html{
        text-align: center;
    }
    
    .container{
        padding: 0 60px;
        margin: 0 auto;
    }

    .main-content{
        padding: 10% 0;
    }

    .home{
        height: auto;
    }

    .main-description h1 {
        font-size: 150%;
        letter-spacing: 1;
    }

    .main-description p {
        font-weight: 200;
        letter-spacing: .7;
    }

    .apply-btn button{
        padding: 10px 12px;
        font-size: 90%;
    }

    .section-title{
        margin: 0 0 5% 0;
        text-align: center;
    }

    .features{
        margin: 10% 0 0 0;
    }
    
    .feature-container{
        width: 100%;
        float: none;
        padding: 0;
    }

    .section-dark{
        background-color: rgba(229, 229, 229, .65);
    }

    .modules{
        width: 100%;
    }

    .module-desc{
        width: 100%;
        float: none;
        padding: 10% 0 0 0;
    }

    .module-desc h5{
        width: 20%;
    }

    .module-desc p{
        width: 80%;
    }

    .modules-img{
        width: 100%;
        float: none;
    }
    .modules-img img {
        max-width: 100%;
        height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .admission-process p{
        width: 75%;
        margin: auto;
    }

    .apply pre,button, .note{
        margin-bottom: 2%;
    }

    .questions{
        margin: 10% 0;
    }
}